@charset "UTF-8";

/*Declarações Gerais*/

@media all {
* {
    margin: 0;
    padding: 0;
}

:root{
    /*CORES*/
    --cor0: white;
    --cor1: #014aad;
    --cor2: #fcc729;
    --cor3: #cd2418;

    /*FONTES*/
    --fonte-padrao: font-family: 'Arial, Helvetica, sans-serif';
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    padding: 350px;
    padding-left: 150px;
    padding-right: 150px;
    /*background-image: url("../imagens/banner-dmnews-form.jpg");*/
    background-image: url(imagens/banner-dmnews\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: contain;*/
    background-color: var(--cor0);

    /*EFEITO PARALAX*/
    background-size: contain;
    background-attachment: fixed;
}

nav{
    background-color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
    padding: 10px;
}

nav > a{
    color: var(--cor0);
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
}

nav a:hover{
    color: var(--cor2);
    background-color: var(--cor0);
    text-decoration: underline;
    border-radius: 20px;
}

main {
    margin-top: 30px;
    margin-left: 10%;
    width: 800px;
    padding: 15px;

    background-color: var(--cor0);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
}

main h1{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor3);
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    line-height: 1.5em;
    margin-left: 25px;
}

main h2{
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-indent: 0.5em;
    text-align: left;
    line-height: 1.5;
}

main h3{
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

main p{
    color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
    margin-left: 27px;
    margin-right: 27px;
}

main p strong{
    color: var(--cor3);
}

main img {
    display: block;
    margin: auto;
}

main ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    color: #014aad;
    margin-left: 70px;
}

footer{
    background-color: #003279;
    color: var(--cor2);
    text-align: center;
    font-size: 2.5vw;
    padding: 50px;
    font-style: italic;
}

}


/*Decalarações Retrato*/

@media screen and (orientation: portrait) {
    header {
        padding: 350px;
        padding-left: 0;
        padding-right: 0;
        background-image: url(imagens/cabecalho-form.jpg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        background-color: var(--cor0)
    }

    main{
        width:430px;
        margin: auto;
        margin-top: 30px;
    }

    main h1{
        font-size: 1.9em;
    }

    main h2{
        font-size: 1.5em;
    }

    main h3{
        font-size: 1.2em;
    }

    main p{
        font-size: 1em;
    }

    section {
        position: fixed;
        margin-top: 39%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    section a.link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    section a.link:hover {
        text-decoration: underline;
    }

    footer p{
        font-size: 1.5em;
    }
}

/*Declarações PAISAGEM*/

@media screen and (orientation: landscape) {
/*
    main{
        max-width: 600px;
        min-width: 100vh;
    }*/

    h1{
        font-size: 5em;
    }
    
    main h2{
        color: var(--cor2);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        font-weight: bold;
        text-indent: 0.5em;
        text-align: left;
        line-height: 1.5;
    }
    
    main h3{
        color: var(--cor2);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
    }
    
    main p{
        color: var(--cor1);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: normal;
        text-align: justify;
        text-indent: 1.5em;
        line-height: 1.4em;
        margin-left: 27px;
        margin-right: 27px;
    
    }

    section {
        position: absolute;
        display: flexbox;
        top: 135%;
        left: 80%;
    
    }

    section a.link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color:var(--cor0);
        text-decoration: none;
        text-align: center;
    }

    section a.link:hover {
        text-decoration: underline;
    }
}